.vscode
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.env
.env_sample
docs
**/__pycache__/
**/*.py[cod]
.coverage
.git
.gitignore
.pre-commit-config.yaml
.python-version
docker-compose-dev.yml
docker-compose-prod.yml
Dockerfile
Dockerfile.dev
Dockerfile.prod
pipeline.yml
htmlcov
postgres
README.md
